<!doctype html>
<html lang="en">
<head>
	<title>VORTECH - Finnish Industrial Death Metal</title>
	<meta charset="UTF-8" />
	<link href="app/layout/vortech.css" rel="stylesheet" type="text/css" />
	<link href="app/layout/ngDialog.min.css" rel="stylesheet" type="text/css" />
	<link href="app/layout/ngDialog-theme-plain.css" rel="stylesheet" type="text/css" />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-route.js"></script>
	<base href="/vortech/angular/"> <!-- For correct base url regardless of entry point to the site -->
</head>
<body ng-app="vortechApp" ng-controller="layoutCtrl">
	<header>
		<div class="siteLogo">
			<a href="/"><img src="app/layout/images/logo.png" alt="Index" /></a>
		</div>
		<h2 class="logoText">Industrial Death Metal since 2000</h2>
		<nav class="siteMenu">
			<span ng-repeat="menulink in menulinks">
				<a ng-href="{{ menulink.url }}" class="menulink">{{ menulink.text | uppercase }}</a>
				<span ng-if="!$last">|</span> <!-- Don't show separator bar after last menu item -->
			</span>
		</nav>
	</header>
	<div class="main pageContainer">
		<section class="pageLeft">
			<nav ng-repeat="external in externals">
				<a ng-href="{{ external.url }}" class="externalLink">
					<img ng-src="{{ external.img }}" alt="{{ external.text }}" />
				</a>
			</nav>
		</section>
		<section class="pageMiddle">
			<p>Middle statistics</p>
			<div class="pageMostDownloads">
				<h3>Most Downloaded</h3>
				{{ mostDownloaded.release_code }}
				<h3>Best Rating</h3>
				{{ bestRating.release_code }}
			</div>
		</section>
		<section class="pageMain">
			<div ng-view class="pageMainBox">
				<p>Fast. Futuristic. Electrified.</p>
			</div>
		</section>
		<div class="clear"></div>
	</div>
	<footer class="pageFooter">
		<p>Copyright &copy; Vortech {{ date | date:'yyyy' }}</p>
		<p>{{ visitors.count }} visitors</p>
	</footer>
	
	<!-- Modules and router -->
	<script src="app/app.js"></script>
	
	<!-- Controllers -->
	<script src="app/layout/controller.js"></script>
	<script src="app/news/controller.js"></script>
	<script src="app/releases/controller.js"></script>
	<script src="app/biography/controller.js"></script>
	<script src="app/photos/controller.js"></script>
	<script src="app/videos/controller.js"></script>
	<script src="app/shop/controller.js"></script>
	<script src="app/guestbook/controller.js"></script>
	<script src="app/live/controller.js"></script>
	<script src="app/admin/controller.js"></script>
	
	<!-- Plugins and custom filters -->
	<script src="libs/ngDialog.min.js"></script> <!-- Modal windows -->
	<script src="libs/moment.js"></script> <!-- Date formatting and handling -->
	<script src="libs/angular-moment.js"></script>
	<script src="app/layout/filters.js"></script>
	
</body>
</html>