/* html5doctor.com Reset v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/) - http://cssreset.com */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

/* Prevent scrollbar from shifting contents by always showing vertical scrollbar */
/*html { overflow-y: scroll; }
*/

body {
	background-image: url('images/background.jpg');
	background-repeat: no-repeat;
	background-position: center top;
	background-color: black;
	color: white;
	font-size: 0.8em;
	font-family: arial, sans-serif;
	width: 100%;
}

header {
	width: 1000px;
	margin: 0 auto;
	text-align: center;
}

h1 {
	font-size: 200%;
}
h2 {
	font-size: 175%;
}
h3 {
	color: #4c5f6f;
	font-size: 110%;
	font-weight: bold;
}
h4 {
	font-size: 125%;
}

ol {
	list-style: outside-disc;
	margin-left: 1em;
}
ol li, ul li {
	position: relative;
	left: 1em;
	padding-right: 1em;
}

/* Fonts */
@font-face {
	font-family: 'wythernessregular';
	src: url('fonts/wytherness-webfont.eot');
	src: url('fonts/wytherness-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/wytherness-webfont.woff') format('woff'),
		 url('fonts/wytherness-webfont.ttf') format('truetype'),
		 url('fonts/wytherness-webfont.svg#wythernessregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

.blackText {
	color: black !important;
}

a:link {
	color: #64a4cc;
	text-decoration: none;
	font-weight: bold;
}

a:visited {
	color: #64a4cc;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-shadow: cyan 0.1em 0.1em 0.2em;
}

/* External images */
.externalLink:link {
	float: none;
	opacity: 0.65;
	filter: alpha(opacity=65);
}
.externalLink:hover {
	float: none;
	opacity: 1;
	filter: alpha(opacity=100);
}

/* Menu */
a.menulink:link {
	color: white;
	font-family: arial, sans-serif;
	font-size: 120%;
	font-weight: normal;
	text-decoration: none;
	text-transform: uppercase;
}

a.menulink:visited {
	color: white;
	font-family: arial, sans-serif;
	font-size: 120%;
	font-weight: normal;
	text-decoration: none;
}

a.menulink:hover {
	color: silver;
	font-family: arial, sans-serif;
	font-size: 120%;
	font-weight: normal;
	text-decoration: none;
	text-shadow: #3f9fdc 0 0 0.4em;
}

.siteMenu {
	width: 898px;
	background-image: url('images/menubar.png');
	background-repeat: no-repeat;
	margin: 18px auto;
	padding-top: 6px;
	color: white;
	height: 32px;
	text-align: center;
}

/* Header */
.siteLogo {
	height: 70px;
	margin: 0 auto;
	padding-top: 40px;
	text-align: center;
}

.logoText {
	color: #8692a0;
	font-family: wythernessregular, verdana, sans-serif;
	font-size: 160%;
	font-weight: normal;
	margin: 0 auto;
	text-decoration: none;
}

/* Layout */
.pageContainer {
	width: 1000px;
	margin: 0 auto;
}

.pageLeft {
	width: 89px;
	height: 250px;
	float: left;
	box-sizing: border-box;
}

.pageMiddle {
	width: 144px;
	height: 200px;
	float: left;
	box-sizing: border-box;
	text-align: center;
}

.pageMain {
	width: 754px;
	height: auto;
	float: left;
}

.pageMainBox {
	margin-left: 18px;
	padding: 13px;
	width: 610px;
	height: auto;
	background-color: rgba(25, 34, 38, 0.65);
	border: solid 5px black;
	box-sizing: border-box;
	/* Set the border rounding */
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.pageFooter {
	width: 987px;
	margin: 0 auto;
	text-align: center;
	color: silver;
}

.pageAudioplayer {
	width: 89px;
}

/* News */
.newsPost {
	margin: 0 auto;
	margin-bottom: 13px;
	width: 571px;
	min-height: 142px;
	height: auto !important; /* For IE support */
	height: 142px;
	background-color: rgba(0, 0, 0, 0.5);
}

.newsHeader {
	width: 100%;
	height: auto;
	min-height: 55px;
	height: auto !important; /* For IE support */
	height: 55px;
	background-color: rgba(5, 20, 36, 0.7);
	text-align: center;
}

.newsTitleText {
	color: white;
	font-size: 160%;
	font-weight: normal;
	font-family: wythernessregular, arial, sans-serif;
	padding-top: 13px;
}

.newsDateText {
	color: #8b8b8b;
	font-size: 75%;
	padding-top: 0;
	margin-top: 0;
}

.newsPostText {
	padding: 16px;
	color: white;
	line-height: 120%;
}

/* Releases */
.albumTitle {
	text-align: left;
}

/* Live shows */
.liveShowHeader {
	background-color: rgba(5, 20, 36, 0.7);
	float: left;
	text-align: left;
	width: 100%;
	height: auto;
	min-height: 34px;
	height: auto !important; /* For IE support */
	height: 34px;
	padding: 8px 8px 0;
}

.liveShowDate {
	float: left;
	width: 125px;
}

.liveShowPlace {
	float: left;
	width: 200px;
}

.liveShowVenue {
	float: left;
	width: 100px;
}

.liveShowBands {
	float: left;
	width: 149px;
}

/* Biography */
.longText {
	margin-bottom: 8px;
}

.bioMember {
	width: 50%;
	float: left;
	padding-bottom: 34px;
}

.bioDuties {
	color: #648fd0 !important;
	font-style: italic;
}

/* Guestbook */
.guestbookPostHeader {
	text-align: left;
	margin-bottom: 13px;
}

/* Photos */
.photolist {
	float: left;
}

/* Helper classes */
.clear {
	clear: both;
}

.indent {
	padding-left: 13px;
}

.redText {
	color: red;
}

.todo {
	color: red;
	padding: 12px;
}
