<p class="longText">Vortech is an Industrial Death Metal band from Finland. Founded in January 2000 by Juha Untinen and Tero Konola, the band eventually set out to explore the furthest regions of extreme music - combined with a healthy does of electronics! The sound is inspired by bands such as Fear Factory, Front Line Assembly, The Amenta and Sonic Mayhem, and even black metal bands such as Emperor and Dark Funeral.</p>
<p class="longText">The band has just released their 7th full length album, "...of What Remains", which showcases their main style of fast, futuristic and electrified music, and is currently promoting the new release. The album collects themes of various states of decay in the world, from total annihilation to human augmentation through physical and mental experimentation.</p>
<p class="longText">With several live shows done, the group has a strong feel for what works well in a show, and therefore is planning more live shows with several new albums under the belt since the previous shows in 2010. With the aid of technology, the trio provides an energetic show worthy of a full 5-piece group in sonic qualities, performing to much intrigued audiences, even at music festivals!</p>
<p class="longText">Several of our songs have also appeared on national radio, and many online radios, with one radio appearance sparking a whole stream of interesting emails describing the sheer power the songs conveyed. Metal Observer has commented that while most bands look to the past for influence, Vortech only looks forward. That is a very good summary of the idea!</p>


<h3>Band Members</h3>
<ul>
	<li><b>Juha Untinen</b> - guitars, bass, programming</li>
	<li><b>Ville Miinala</b> - drums</li>
	<li><b>Mikko Nikula</b> - vocals</li>
</ul>

<h3>Past Members and Guest Appearances</h3>
<ul>
	<li>Matti Särkimäki - vocals</li>
	<li>Tero Konola - drums and bass</li>
	<li>Mary Rose Viray - guest vocals on The Occlusion</li>
	<li>Mikko Nurmos - guest spoken vocals on Deep Beneath</li>
	<li>Lukas Pearsall - guest vocals on Wasteland</li>
	<li>Rami Moilanen - drums in rehearsals</li>
	<li>Samuli Tarvainen - live bass in 2001</li>