<p class="todo">TODO: Ulkoasu kuntoon.</p>
<article ng-repeat="album in albums.slice().reverse()"> <!-- Reverse = latest album first -->
	<header class="albumTitle">
		<h2>{{ album.title }}</h2>
		<h3>{{ album.release_date }}</h3>
	</header>
	<section class="albumArtwork">
		<img ng-src="contents/images/album-artwork/{{ album.artwork_prefix }}-front.jpg" alt="{{ album.title }}" class="floatLeft albumBorder extraMargin" />
	</section>
	<section class="albumTracks">
		<ol>
			<li ng-repeat="track in tracklist" ng-if="track.album_code == album.release_code">
				{{ track.name }} ({{ track.duration }})
				<!-- Only show tabulature when it exists -->
				<span ng-show="track.tablature.length">- <a ng-href="contents/tabs/{{ track.tablature }}">Tab</a></span>
			</li>
		</ol>
	</section>
	<section class="albumNotes">
		<a ng-href="downloadlink">Download</a> (0 downloads) | 
		<a ng-href="studio">Studio Report</a> | 
		<a ng-href="{{ album.lyrics_file }}">Lyrics</a> | 
		Duration: {{ album.duration }}
	</section>
	<section class="albumCredits">
		<div>credits</div>
	</section>
</article>