<p>Guestbook</p>
<p class="todo">TODO: login? Ja viestien lisäys. Admin-kommentit. Filtteröinti 2 viime vuotta ja vanhemmat</p>
<section class="guestbookPosts">
	<aside class="guestbookFilters">
		<button type="submit" ng-click="filter($event);">{{ this_year }}</button>
		<button type="submit" ng-click="filter($event);">{{ last_year }}</button>
		<button type="submit" ng-click="filter($event);">Older</button>
	</aside>
	<article ng-repeat="post in posts">
		<header class="guestbookPostHeader">
			<b>{{ post.posted_by }}</b> | {{ post.date }}
		</header>
		<p class="indent">{{ post.message }}</p>
		<p class="indent redText" ng-if="post.admin_comment.length">{{ post.admin_comment }}</p>
		<hr />
	</article>
</section>